# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
es
lib
dist-ssr
*.local
coverage
example/.expo
docs/.docusaurus
docs/build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
